<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票选项</title>
</head>
<body>
    <h1>{{ Ques.question_text }}</h1>
    <br><br>

    {% if myERROR %}
        <p><strong>{{ myERROR }}</strong></p>
    {% endif %}
    <form action="{% url 'mypolls:showAction' Ques.id %}" method="post">
        {% csrf_token %}
        {% for Cho in Chos %}
            <input type="radio" name="choice" value="{{ Cho.id }}">{{ Cho.choicetext }}
        {% endfor %}
        <br><br>
        <input type="submit" value="提交">
    </form>
</body>
</html>